.same-row {
    float: left;
    margin: 3em;
}

.clickable {
    display:inline-block;
    color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    width: auto;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 5px;
}
.clickable:active {
    color:red;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}
